$button-color: #E6F0F0;
$button-hover: #3AB8BC;
$button-pressed: #006666;
$white: #FFFFFF;

.button {
    background-color: $button-color;
    width: 151px;
    height: 42px;
    border-radius: 6px;
    color: $button-pressed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    user-select: none;

    &.disabled {
        box-shadow: none;
        opacity: 0.45;
    }

    &:hover:not(.disabled) {
        box-shadow: none;
        background-color: $button-hover;
        color: $white;
    }
    &:active:not(.disabled) {
        box-shadow: none;
        background-color: $button-pressed;
        color: $white;
    }
}



