.container {
    display: flex;
    flex-direction: row;
    
    background-position: -400px 40px;
    background-repeat: no-repeat;
    .container__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../public/background.png');
        background-position: bottom right; 
        background-repeat: no-repeat;
        background-size: cover;
        .result {
            width: 50%;
            font-size: 20px;
            text-align: left;
            padding: 20px 0px;
            height: 30px;
            margin: 5px;
            .details {
                margin: 10px;
                font-size: 15px;
            }
        }
    }
}